<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>BusCard</display-name>
  <servlet>
    <servlet-name>WelcomeCtl</servlet-name>
    <servlet-class>in.co.buscard.wsx.controller.WelcomeCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeCtl</servlet-name>
    <url-pattern>/WelcomeCtl</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>UserCtl</servlet-name>
    <servlet-class>in.co.buscard.common.controller.UserCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCtl</servlet-name>
    <url-pattern>/ctl/UserCtl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserListCtl</servlet-name>
    <servlet-class>in.co.buscard.common.controller.UserListCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserListCtl</servlet-name>
    <url-pattern>/ctl/UserListCtl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserRegistrationCtl</servlet-name>
    <servlet-class>in.co.buscard.common.controller.UserRegistrationCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistrationCtl</servlet-name>
    <url-pattern>/UserRegistrationCtl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyProfileCtl</servlet-name>
    <servlet-class>in.co.buscard.common.controller.MyProfileCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyProfileCtl</servlet-name>
    <url-pattern>/ctl/MyProfileCtl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginCtl</servlet-name>
    <servlet-class>in.co.buscard.common.controller.LoginCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCtl</servlet-name>
    <url-pattern>/LoginCtl</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ForgetPasswordCtl</servlet-name>
    <servlet-class>in.co.buscard.common.controller.ForgetPasswordCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPasswordCtl</servlet-name>
    <url-pattern>/ForgetPasswordCtl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RoleCtl</servlet-name>
    <servlet-class>in.co.buscard.common.controller.RoleCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleCtl</servlet-name>
    <url-pattern>/ctl/RoleCtl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RoleListCtl</servlet-name>
    <servlet-class>in.co.buscard.common.controller.RoleListCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleListCtl</servlet-name>
    <url-pattern>/ctl/RoleListCtl</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ErrorMessageListCtl</servlet-name>
    <servlet-class>in.co.buscard.wsx.controller.ErrorMessageListCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorMessageListCtl</servlet-name>
    <url-pattern>/ctl/ErrorMessageListCtl</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DownloadCtl</servlet-name>
    <servlet-class>in.co.buscard.wsx.controller.DownloadCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadCtl</servlet-name>
    <url-pattern>/ctl/DownloadCtl</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>FrontCtl</filter-name>
    <filter-class>in.co.buscard.wsx.controller.FrontController</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FrontCtl</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
 
  <servlet>
    <servlet-name>ErrorCtl</servlet-name>
    <servlet-class>in.co.buscard.common.controller.ErrorCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorCtl</servlet-name>
    <url-pattern>/ErrorCtl</url-pattern>
  </servlet-mapping>
 
    <servlet>
    <servlet-name>RouteCtl</servlet-name>
    <servlet-class>in.co.buscard.common.controller.RouteCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RouteCtl</servlet-name>
    <url-pattern>/RouteCtl</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>RouteListCtl</servlet-name>
    <servlet-class>in.co.buscard.common.controller.RouteListCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RouteListCtl</servlet-name>
    <url-pattern>/RouteListCtl</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>FareCtl</servlet-name>
    <servlet-class>in.co.buscard.common.controller.FareCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FareCtl</servlet-name>
    <url-pattern>/FareCtl</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>FareListCtl</servlet-name>
    <servlet-class>in.co.buscard.common.controller.FareListCtl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FareListCtl</servlet-name>
    <url-pattern>/FareListCtl</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/common/Error404.jsp</location>
  </error-page>
  <filter>
    <filter-name>MainCtl</filter-name>
    <filter-class>in.co.buscard.wsx.controller.FrontController</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MainCtl</filter-name>
    <url-pattern>/ctl/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>LoginCtl</welcome-file>
  </welcome-file-list>
</web-app>